<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @item.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @item.description %>
</p>

<p>
  <strong>Price:</strong>
  <%= @item.price %>
</p>

<%if current_user_subscribed?%>
	<h1>Enjoy your Subscription...</h1>
<%else%>
	<%= link_to "Subscribe To Watch", new_subscription_path, class: "btn btn-primary"%>
<% end %>
